<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>学生在线小测系统-学生-控制台</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="../assets/css/view.css"/>
    <style>
        #examCode{
            width: 200px;
        }
        #examMsg{
            position: absolute;
            left: 220px;
            top: 8px;
        }
        #examMsgFather{
            position: relative;
        }
    </style>
</head>
<body class="layui-view-body">
    <div class="layui-content">
        <div class="layui-row layui-col-space20">
            <div class="layui-col-sm12 layui-col-md12">
                <div class="layui-card">
                    <div
                     class="layui-form layui-card-body" method="POST">
                        <div class="layui-form-item">
                            <label class="layui-form-label">考试码</label>
                            <div class="layui-input-block" id="examMsgFather">
                                <input type="text" name="examCode" id="examCode" value="" placeholder="请输入考试码" lay-verify="required" class="layui-input" onfocus="cleanExamMsg()">
                                <label style="color: red;" id="examMsg"></label>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit="" lay-filter="queryExam" id="submit">查询</button>
                                <button type="reset" class="layui-btn layui-btn-primary" onclick="cleanExamMsg()">重置</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="layui-card-body">
                        <table class="layui-table" id="thisTable" style="display: none;">
                            <thead>
                                <tr><th>考试码</th><th>小测名称</th><th>时间</th><th>总分</th><th>出题老师</th><th>截止时间</th><th>备注/操作</th></tr> 
                            </thead>
                            <tbody id="thisTbodys"></tbody>
                        </table>
                    </div>

                    <div class="layui-card-body">
                        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                            <legend>新考试</legend>
                        </fieldset>
                        <div class="layui-form">
                            <div class="layui-form-item">
                                <label class="layui-form-label">模糊条件</label>
                                <div class="layui-input-block">
                                    <input type="text" id="examTerm" name="examTerm" placeholder="考试码/小测名称/出题教师、学院" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn layui-btn-blue" onclick="pageNewExam()">查询</button>
                                </div>
                            </div>
                        </div>
                        <table id="pageNewExam"></table>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <script src="/layui/layui.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="console.js"></script>
</body>
</html>