<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="../assets/css/view.css"/>
    <title></title>
</head>
<body class="layui-view-body">
    <div class="layui-content">
        <div class="layui-row">
            <div class="layui-card">
                <div class="layui-card-header">成绩统计</div>
                <div class="layui-form layui-card-body">
                  <div class="layui-form-item">
                    <label class="layui-form-label">模糊条件</label>
                    <div class="layui-input-block">
                      <input type="text" id="examTerm" name="examTerm" placeholder="考试码/小测名称/出题教师所属学院代码或名称/出题教师姓名" autocomplete="off" class="layui-input">
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <div class="layui-input-block">
                      <button class="layui-btn layui-btn-blue" onclick="pageStuScore()">查询</button>
                    </div>
                  </div>
                </div>  
                <span style="color: red;">点击老师可得到教师信息，点击其他得到小测情况</span>
                <table id="scoreTable"></table>
            </div>
        </div>
    </div>
    <script src="/layui/layui.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script>
      function pageStuScore() {
        $('#scoreTable').html('');
        layui.use('table', function () {
            var table = layui.table;
            table.render({
                elem: '#scoreTable',
                url: '/back/exam/pageStuScore?term='+$('#examTerm').val(),
                page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                    layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'], //自定义分页布局
                    limits: [10, 15, 20],
                    limit: 10,
                    curr: 1,
                    groups: 5, //只显示 1 个连续页码
                    first: '首页',
                    last: '尾页',
                    skin: 'row',
                    page: true,
                    even: true,
                    done: function (res) {
                        userPage.data = res.data;
                    }
                },
                cols: [[
                    {
                        field: 'examCode',width:140, title: '考试码', sort: true,templet: function (data) {
                            return '<span onclick="seeExamResult(\''+data.examCode+'\')">'+data.examCode+'</span>'
                        }
                    },
                    {
                        field: 'examName',width:150, title: '考试名称', sort: true,templet: function (data) {
                            return '<span onclick="seeExamResult(\''+data.examCode+'\')">'+data.examName+'</span>'
                        }
                    },
                    {
                        field: 'score', width:75, title: '总分', sort: true,templet: function (data) {
                            return '<span onclick="seeExamResult(\''+data.examCode+'\')">'+data.score+'</span>'
                        }
                    },
                    {
                        field: 'teacher', title: '出题教师', sort: true,templet: function (data) {
                            return '<span onclick="seeInfo(\''+data.teacherNumber+'\')">'+data.teacherName+'</span>'
                        }
                    },
                    {
                        field: 'time', width:95, title: '用时', sort: true,templet: function (data) {
                            return '<span onclick="seeExamResult(\''+data.examCode+'\')">'+data.time+'</span>'
                        }
                    },
                    {
                        field: 'myScore', width:75, title: '成绩', sort: true,templet: function (data) {
                            return '<span onclick="seeExamResult(\''+data.examCode+'\')">'+data.myScore+'</span>'
                        }
                    },
                    {
                        field: 'submitTime', width:160, title: '提交时间', sort: true,templet: function (data) {
                            return '<span onclick="seeExamResult(\''+data.examCode+'\')">'+data.submitTime+'</span>'
                        }
                    }
                ]]
            });
        });
      }

      function seeInfo(number) {
          layui = window.parent.layui;
          layui.use('layer', function () {
              layui.layer.open({
                  type: 2,
                  title: '教师信息',
                  // shadeClose: false,
                  // shade: false,
                  //maxmin: true, //开启最大化最小化按钮
                  area: ['90%', '90%'],
                  content: '/html/common/teacherInfo.html?number='+number
              });
          });
      }

      function seeExamResult(examCode) {
        $.ajax({
            type: "POST",
            url: "/back/user/getUserInfo",
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify({userType:"student"}),
            success: function (data) {
                titleName = data.data.college + "，" + data.data.major + "专业，" + data.data.clazz + "班，" + data.data.name + "，学号：" + data.data.number;
                titleName = '<span style="color: red;font-size: 20px">' + titleName + '</span>';
                layui = window.parent.layui;
                layui.use('layer', function () {
                    layui.layer.open({
                        type: 2,
                        title: titleName,
                        shadeClose: true,
                        shade: false,
                        //maxmin: true, //开启最大化最小化按钮
                        area: ['100%', '100%'],
                        content: '/html/exam/index.html?number=' + examCode + '&seeExamResult=1&stuNumber=0'
                    });
                });
            },
            error: function (e) {
                console.log(e);
            }
        });
      }

      pageStuScore();
    </script>
</body>
</html>