<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../assets/css/layui.css">
    <link rel="stylesheet" href="../assets/css/view.css"/>
    <link rel="icon" href="/favicon.ico">
    <title>学生在线小测系统-管理员</title>
</head>
<body class="layui-view-body">
    <div class="layui-content">
        <div class="layui-page-header">
            <div class="pagewrap">
                <span class="layui-breadcrumb">
                    <a href="">首页</a>
                    <a href="">学院/班级</a>
                    <a><cite>新建年级</cite></a>
                  </span>
                  <h2 class="title">新建年级</h2>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-card">
                <div class="layui-card-header">新一届班级</div>
                <div class="layui-card-body">
                    <fieldset class="layui-elem-field layui-field-title">
                        <legend><a class="layui-btn layui-btn-blue" href="/back/manage/newClazz">生成新一届班级</a></legend>
                    </fieldset>
                </div>
                
                <div class="layui-card-header">新一届学生学号</div>
                <div class="layui-card-body">
                    <form class="layui-form" id="thisForm">
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/layui.all.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="newGrade.js"></script>

</body>
</html>